<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>392918046636-9mqcinja2bsbo82g3gvdhin4i70tgn6r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.392918046636-9mqcinja2bsbo82g3gvdhin4i70tgn6r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>392918046636-01snv37lcpf2a1pcmemijjqses0otir3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBYP_tm5o94XgXr5vmLqrYeFJi93TsaInU</string>
	<key>GCM_SENDER_ID</key>
	<string>392918046636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kocsistem.PNMWrapperExample</string>
	<key>PROJECT_ID</key>
	<string>demopushnotif-65c54</string>
	<key>STORAGE_BUCKET</key>
	<string>demopushnotif-65c54.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:392918046636:ios:af1caaffbe11395de38c09</string>
</dict>
</plist>